@import "settings";
@import "foundation";

/* General styles */

.primary {
  color: $primary-color;
}

ul {
  list-style-image: url("../img/list-arrow.png");
}

.print-only {
  display: none;
}


/* Print specific styles */
@media print {
  .print-only {
    display: initial;
  }

  .split .left {
    display: none;
  }

  h2 {
    font-size: 1.6rem;
  }

  ul, ol, p {
    font-size: 0.8rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

/* Static/responsive sidebar */
/* Left side */

.split .left {
  width: 20%;
  position: relative;
  z-index: 2;
  background-color: $darker-color;

  @media (max-height: 780px) {
    overflow: auto;
  }

  @media (max-width: 640px) {
    width: 100%;
    float: none;
  }

  @media (min-width: 641px) {
    width: 25%;
    position: fixed;
    height: 100%;
  }
  
  @media (min-width: 1025px) {
    width: 20%;
  }

  @media (min-width: 1441px) {
    width: 16%;
  }
}

/* Right side */
.split .right {
  width: 80%;
  position: relative;
  z-index: 1;

  @media (max-width: 640px) {
    width: 100%;
    float: none;
    overflow: hidden;
  }

  @media (min-width: 641px) {
    width: 75%;
    float: right;
  }

  @media (min-width: 1025px) {
    width: 80%;
  }

  @media (min-width: 1441px) {
    width: 84%;
  }

}

.grid-container {
  padding: 0 2rem;
}

/* Headshot/top part of sidebar */
div.headshot {
  text-align: center;
  background-color: #000;
  padding: 2rem 0.5rem 0.5rem 0.5rem;
}

.header-nav {
  color: $white-color;
}

.headshot img {
  border-radius: 100%;
  width: 180px;
  height: auto;
  border: 3px solid $white-color;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Sidebar nav */

.main-nav {
  margin: 0;
  padding: 0;

  a {
    color: $white-color;
    &:hover {
      background-color: darken($darker-color, 12);
    }
  }

  > li {
    float: none;
    width: auto;
    background-color: $darker-color;
    list-style: none;

    &:nth-child(1) { background-color: lighten($darker-color, 12) }
    &:nth-child(2) { background-color: lighten($darker-color, 8) }
    &:nth-child(3) { background-color: lighten($darker-color, 4) }
    &:nth-child(4) { background-color: $darker-color; }
 
    > .main-nav-item {
      display: block;
      padding: 1rem 2rem;
    }
  }

}

/* CV specific */

.obfuscate-email { 
  unicode-bidi: bidi-override;
  direction: rtl; 
}

#personal-information {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#experience, 
#projects, 
#skills {
  .grid-block {
     margin-bottom: 0.8rem;
  }
}

.timeframe {
  font-style: italic;
  
  @include breakpoint(medium) {
    text-align: right;
  }
}

.details {
  @include breakpoint(medium) {
    border-left: 1px solid $primary-color;
  }

  ul {
    margin-bottom: 0;
    padding-left: -1rem;
    list-style-position: outside;
  }

  header > p {
    margin-bottom: 0.5rem;
  }

  ul, p {
    margin-bottom: 0rem;
  }
}

/* Gallery specific */

.gallery-item {
  background: #000;
  display: block;

  .title {
    position: absolute;
    padding: 1rem;
    right: 0;
    background-color: $darker-color;
    color: $white-color;
    visibility: hidden;
    z-index: 1;
    font-weight: bold;
  }

  .date {
    position: absolute;
    margin-top: 2.2rem;
    padding: 0.8rem;
    right: 0;
    background-color: $darker-color;
    color: $white-color;
    visibility: hidden;
    z-index: 2;
    font-size: 0.8rem;
  }

  &:hover {
    .title, .date {
      visibility: visible;
    }
  }

  img {
    opacity: 0.9;
  }

  img:hover {
    opacity: 1;
  }
}

.gallery {
  > .grid-block {
    overflow-y: hidden;
  }
}