@import "settings";
@import "foundation";

@media (max-height: 780px) {
  .split .left {
    overflow: auto;
  }
}

/* Split Layout for Home and top-level pages */
.split .left {
  width: 20%;
  position: relative;
  z-index: 2;
}
@media (max-width: 640px) {
  .split .left {
    width: 100%;
    float: none;
  }
}
@media (min-width: 641px) {
  .split .left {
    width: 25%;
    position: fixed;
    height: 100%;
  }
}
@media (min-width: 1025px) {
  .split .left {
    width: 20%;
  }
}
@media (min-width: 1441px) {
  .split .left {
    width: 16%;
  }
}

.split .left {
  background-color: $darker-color;
}


// right

.split .right {
  width: 80%;
  position: relative;
  z-index: 1;
}
@media (max-width: 640px) {
  .split .right {
    width: 100%;
    float: none;
    overflow: hidden;
  }
}
@media (min-width: 641px) {
  .split .right {
    width: 75%;
    float: right;
  }
}
@media (min-width: 1025px) {
  .split .right {
    width: 80%;
  }
}
@media (min-width: 1441px) {
  .split .right {
    width: 84%;
  }
}

div.headshot {
  text-align: center;
  background-color: #000;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.header-nav {
  color: $white-color;
}

.headshot img {
  border-radius: 100%;
  width: 180px;
  height: auto;
  border: 3px solid $white-color;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.main-nav {
  margin: 0;
  padding: 0;

  a {
    color: $white-color;
  }

  > li {
    float: none;
    width: auto;
    background-color: $dark-color;
    list-style: none;
  }

}
