---
name: challenges
url: /challenges
---
<div class="grid-container contain-left">
	<div class="grid-content">
		<h1 id="52-challenges">52 Challenges</h1>
		<h2 id="learn-">Learn stuff</h2>
		<ul>
			<li>Learn to play Poker better</li>
			<li>Learn to play chess better</li>
			<li>Learn to play Go</li>
			<li>Learn to whistle</li>
			<li>Learn to juggle 5 balls</li>
			<li>Learn to drive/get license</li>
			<li>Learn to cook 10 meals</li>
			<li>Learn to solve a rubik&#39;s cube</li>
			<li>Learn some sleight of hand</li>
			<li>Learn to use chop-sticks (or, an excuse to go to Mao more)</li>
			<li>Learn 5 new knots</li>
		</ul>
		<h2 id="well-being">Well-being</h2>
		<ul>
			<li>Lose 6 stone</li>
			<li>150kg deadlift</li>
			<li>Keep to a regular sleep schedule (tracked with Sleepbot)</li>
			<li>Stop nail-biting</li>
			<li>Get back to regular 15km runs</li>
			<li>Cycle everywhere I can</li>
			<li>Try vegetarianism for a week</li>
		</ul>
		<h2 id="go-and-">Go and...</h2>
		<ul>
			<li>Go on a cycle more than 100km long</li>
			<li>Go caving again</li>
			<li>Go camping</li>
			<li>Go hiking</li>
			<li>Go ice-skating</li>
			<li>Go kayaking</li>
			<li>Go to see a play</li>
			<li>Go swim in the sea</li>
		</ul>
		<h2 id="hobbies">Hobbies</h2>
		<ul>
			<li>Photo a week</li>
			<li>Write more</li>
			<li>Play more guitar</li>
			<li>Photograph sunrise and sunset on the same day</li>
			<li>Take a good self-portrait</li>
			<li>Make an android app</li>
			<li>Finish site</li>
		</ul>
		<h2 id="be-an-adult">Be an adult</h2>
		<ul>
			<li>Get a job</li>
			<li>Move away from home</li>
			<li>Keep CV up-to-date</li>
			<li>Reorganise/cleanup online accounts</li>
			<li>Pay off all of my college fees</li>
			<li>Start savings</li>
			<li>Buy new shoes</li>
		</ul>
		<h2 id="misc">Misc</h2>
		<ul>
			<li>Meet more internet friends</li>
			<li>Travel abroad (further than the UK at least)</li>
			<li>Go to 5 gigs (festivals don&#39;t count)</li>
			<li>See Dublin&#39;s tourist attractions</li>
			<li>Read 52 books</li>
			<li>Rate the top 52 movies on <a href="http://www.imdb.com/chart/top">imdb</a></li>
			<li>Win a bet</li>
			<li>Send a message in a bottle</li>
			<li>OTHER </li>
			<li>OTHER </li>
			<li>OTHER </li>
		</ul>
	</div>
</div>