---
name: curriculum-vitae
url: /cv
---

<div class="grid-container">
	<!--  PERSONAL INFO  -->

	<section id="personal-information" class="grid-block">
		<section>
			<h1 class="primary">Jack <span class="thin">Bracken</span></h1>

			<p class="print-only">
				<!-- Email -->
				<img src="../assets/img/envelope.png" width="16px" heigh="16px"/>
				<!-- Email text direction reversed in CSS -->
				<span class="obfuscate-email">em.nekcarbkcaj@tcatnoc  </span>
			</p>

			<p class="print-only">
				<!-- Phone number -->
				<img src="../assets/img/phone.png" width="14px" heigh="14px"/>
				<span class="phone">  +353 85 752 6944</span>
			</p>
		</section>
	</section>

	<!--  EDUCATION  -->

	<section id="education">
		<h2 class="primary">Education</h2>
		<article class="grid-block wrap">
			<section class="grid-content">
				<p><strong>University College Dublin</strong></p>
				<p>Bachelor of Science in Computer Science, graduating in September 2015.</p>
			</section>
		</article>
	</section>

	<!--  EXPERIENCE  -->

	<section id="experience">
		<h2 class="primary">Experience</h2>
		<article class="grid-block wrap">
			<aside class="timeframe large-3 medium-3 small-12 grid-content">
				Sep 2012&ndash;May 2014
			</aside>
			
			<section class="details large-9 medium-9 small-12 grid-content">
				<header>
					<p><strong>Wooq event management, Dublin</strong> <i>Part-time developer</i></p>
				</header>
				<ul>
					<li>Part of a two-person development team that created an event management and ticketing app with approximately 15,000 unique users.</li>
					<li>Used a rails back-end and consumed several REST APIs and multiple OAuth providers, with a front end built on Bootstrap with Sass.</li>
				</ul>
			</section>

		</article>

		<!--
		<article class="grid-block wrap">
			<aside class="timeframe large-3 medium-3 small-12 grid-content">
				Feb 2012&ndash;Mar 2013
			</aside>

			<section class="details large-9 medium-9 small-12 grid-content">
				<header>
					<strong>UCD CoderDojo</strong>
					<p><i>Volunteer mentor</i></p>
				</header>
				<ul>
					<li>Mentored a class of approximately 20 children.</li>
					<li>Taught HTML/CSS, Scratch, JavaScript and Python.</li>
				</ul>
			</section>

		</article>
		-->

		<article class="grid-block wrap">

			<aside class="timeframe large-3 medium-3 small-12 grid-content">
				May 2012&ndash;Aug 2012
			</aside>

			<section class="details large-9 medium-9 small-12 grid-content">
				<header>
					<p><strong>Aonta Technologies Ltd., Dublin</strong> <i>Intern</i></p>
				</header>
				<ul>
					<li>Took control of DevOps and sysadmin tasks that included writing and maintaining install and update scripts for the application environment in Bash and Perl.</li>
					<li>Developed a reporting system for orphaned SIP calls in Perl</li>
					<li>Wrote JUnit test suite to ensure user privilege system worked correctly.</li>
				</ul>
			</section>

		</article>
	</section>

	<!--  PROJECTS  -->

	<section id="projects">
		<h2 class="primary">Projects</h2>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<p><strong>jackbracken.me</strong></p>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<p>A personal website I built on AngularJS. Features a mobile-first responsive design that was built atop Zurb's Foundation CSS framework.</p>
			</section>
		</article>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<p><strong>Investigation into reputation algorithms</strong></p>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<p>Calculated PageRank and WeightedSum reputation scores for 49,146 users across three Stack Exchange sites. These scores were then normalised and their distribution compared to Stack Exchange's original reputation algorithm.</p>
			</section>
		</article>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<p><strong>Asimov IRC bot</strong></p>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<p>Asimov is an IRC bot written in Ruby using only standard libraries. He can respond to his name, has his own plugin system and logs chat history to disk.</p>
			</section>
		</article>
	</section>

	<!--  SKILLS  -->

	<section id="skills">
		<h2 class="primary">Skills</h2>
		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<p><strong>Languages</strong></p>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<ul>
					<li>Ruby, Java, JavaScript, HTML/CSS/SCSS, SQL, Bash</li>
				</ul>
			</section>
		</article>

		<article class="grid-block wrap end">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<p><strong>Frameworks &amp; Libraries</strong></p>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<ul>
					<li>Ruby&ndash; Sinatra, Ruby on Rails, Haml, Slim</li>
					<li>Java&ndash; Maven, JDBI, Flyway, JUnit</li>
					<li>JavaScript&ndash; jQuery, AngularJS, gulp</li>
				</ul>
			</section>
		</article>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<p><strong>Tools</strong></p>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<ul>
					<li>GNU coreutils (grep, sed, curl, sort, etc.)</li>
					<li>Git, Subversion</li>
					<li>Vim, Eclipse, Sublime Text</li>
				</ul>
			</section>
		</article>
	</section>
</div>