---
name: home
url: /
---
<div class="grid-container">
<section id="personal-information">
	<h1>Jack Bracken</h1>
	<span class="email">email address</span>
	<span class="phone">phone number</span>
</section>

<section id="education">
	<h2>Education</h2>
	<h3>University College Dublin</h3>
	<p>Bachelor of Science in Computer Science, expected to graduate in September 2015</p>
</section>

<section id="experience">
	<h2>Experience</h2>

	<article class="grid-block wrap">

		<aside class="timeframe large-3 medium-3 small-12 grid-content">
			May 2012&ndash;Aug 2012
		</aside>

		<section class="details large-9 medium-9 small-12 grid-content">
			<header>
				<strong>Aonta Technologies Ltd., Dublin</strong>

			</header>
			<ul>
				<li>Rewrote bash install and update scripts for portability between OpenSuSE and CentOS.</li>
				<li>Created a Perl script script to find and report orphaned calls in the SIP server.</li>
				<li>Wrote unit test suite to ensure user priviliges worked correctly using JUnit.</li>
			</ul>
		</section>

	</article>


	<article class="grid-block wrap">
		<aside class="timeframe large-3 medium-3 small-12 grid-content">
			Feb 2012&ndash;Mar 2013
		</aside>

		<section class="details large-9 medium-9 small-12 grid-content">
			<header>
				<strong>Mentor, UCD CoderDojo</strong>
			</header>
			<ul>
				<li>Mentored a class of approximately 20 children.</li>
				<li>Taught them HTML/CSS, Scratch JavaScript and Python.</li>
			</ul>
		</section>

	</article>
</section>

<section id="projects">
	<h2>Projects</h2>

	<article class="grid-block wrap">
		<aside class="timeframe large-3 medium-3 small-12 grid-content">
			Filler
		</aside>

		<section class="details large-9 medium-9 small-12 grid-content">
			<header>
				<strong>Filler stuff</strong>
			</header>

			<p>Filler description</p>
		</section>

	</article>
</section>

</section>


<section id="skills">
	<h2>Skills</h2>
	<article class="grid-block wrap">
		<header class="skills large-3 medium-3 small-12 grid-content">
			<strong>Programming Languages</strong>
		</header>

		<section class="details large-9 medium-9 small-12 grid-content">

			<ul>
				<li>Ruby (Sinatra, Ruby on Rails, Haml, Slim)</li>
				<li>Java (Maven, JDBI, Flyway, JUnit)</li>
				<li>JavaScript (jQuery, AngularJS, gulp)</li>
				<li>SQL (PostgreSQL, MySQL, SQLite)</li>
				<li>Web design (HTML, CSS, SCSS)</li>
				<li>Linux (Bash, Perl, nginx, git)</li>
			</ul>
		</section>
	
</section>
</div>