---
name: home
url: /
---
<div class="grid-container">
	<section id="personal-information">
		<h1>Jack Bracken</h1>
		<span class="email">email address</span>
		<span class="phone">phone number</span>
	</section>

	<section id="education">
		<h2>Education</h2>
		<strong>University College Dublin</strong>
		<p>Bachelor of Science in Computer Science, expected to graduate in September 2015</p>
	</section>

	<section id="experience">
		<h2>Experience</h2>
		<article class="grid-block wrap">
			<aside class="timeframe large-3 medium-3 small-12 grid-content">
				Sep 2012&ndash;May 2014
			</aside>
			
			<section class="details large-9 medium-9 small-12 grid-content">
				<header>
					<strong>Wooq event management, Dublin</strong>
					<p><i>Part-time developer</i></p>
				</header>
				<ul>
					<li>Helped develop event management app with approximately 15,000 unqiue users.</li>
					<li>Used rails backend and consumed several REST APIs, including Stripe and multiple OAuth providers.</li>
				</ul>
			</section>

		</article>

		<article class="grid-block wrap">
			<aside class="timeframe large-3 medium-3 small-12 grid-content">
				Feb 2012&ndash;Mar 2013
			</aside>

			<section class="details large-9 medium-9 small-12 grid-content">
				<header>
					<strong>UCD CoderDojo</strong>
					<p><i>Volunteer mentor</i></p>
				</header>
				<ul>
					<li>Mentored a class of approximately 20 children.</li>
					<li>Taught HTML/CSS, Scratch, JavaScript and Python.</li>
				</ul>
			</section>

		</article>

		<article class="grid-block wrap">

			<aside class="timeframe large-3 medium-3 small-12 grid-content">
				May 2012&ndash;Aug 2012
			</aside>

			<section class="details large-9 medium-9 small-12 grid-content">
				<header>
					<strong>Aonta Technologies Ltd., Dublin</strong>
					<p><i>Intern</i></p>
				</header>
				<ul>
					<li>Wrote bash install and update scripts.</li>
					<li>Created a Perl script script that found and reported orphaned SIP calls.</li>
					<li>Wrote JUnit test suite to ensure user privilige system worked correctly.</li>
				</ul>
			</section>

		</article>
	</section>

	<section id="projects">
		<h2>Projects</h2>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<strong>jackbracken.me</strong>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<p>My personal website built on AngularJS. Features a mobile-first responsive design that was built using Zurb's Foundation CSS framework.</p>
			</section>
		</article>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<strong>Final year project</strong>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<p>An investigation into alternative reputation algorithms for the social web. Final project and thesis for my Computer Science degree.</p>
			</section>
		</article>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<strong>B&amp;B website</strong>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<ul>
					<li>What it do</li>
				</ul>
			</section>
		</article>

		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<strong>B&amp;B website</strong>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<ul>
					<li>What it do</li>
				</ul>
			</section>
		</article>
	</section>



	<section id="skills">
		<h2>Skills</h2>
		<article class="grid-block wrap">
			<header class="skills large-3 medium-3 small-12 grid-content">
				<strong>Programming Languages</strong>
			</header>

			<section class="details large-9 medium-9 small-12 grid-content">
				<ul>
					<li>Ruby (Sinatra, Ruby on Rails, Haml, Slim)</li>
					<li>Java (Maven, JDBI, Flyway, JUnit)</li>
					<li>JavaScript (jQuery, AngularJS, gulp)</li>
					<li>SQL (PostgreSQL, MySQL, SQLite)</li>
					<li>Web design (HTML, CSS, SCSS)</li>
					<li>Linux (Bash, Perl, nginx, git)</li>
				</ul>
			</section>
		</article>
	</section>
</div>