---
name: photography
url: /photo
---
<!-- <div class="grid-content">
	<h1>Photography</h1>
</div> -->
<div class="gallery">
	<div class="grid-block wrap">
		<article class="gallery-item">
			<span class="title">Sheep on the ring of Kerry</span>
			<span class="date">Nov 28, 2014</span>
			<img src="http://fc04.deviantart.net/fs70/i/2014/334/b/3/sheep_on_the_ring_of_kerry_by_jackbracken-d889fw6.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">Brackaharagh, the ring of Kerry</span>
			<span class="date">Nov 28, 2014</span>
			<img src="http://fc02.deviantart.net/fs71/i/2014/334/9/0/brackaharagh__ring_of_kerry_by_jackbracken-d889fwn.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">Ring of Kerry, B&amp;W</span>
			<span class="date">Nov 28, 2014</span>
			<img src="http://fc09.deviantart.net/fs70/i/2014/334/9/c/ring_of_kerry_by_jackbracken-d889fvt.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">Sunset at the cliffs of Moher, B&amp;W</span>
			<span class="date">Nov 27, 2014</span>
			<img src="http://fc03.deviantart.net/fs70/i/2014/334/5/5/sunset_at_the_cliffs_of_moher_by_jackbracken-d889fvb.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">O'Briein's Tower, cliffs of Moher</span>
			<span class="date">Nov 27, 2014</span>
			<img src="http://th00.deviantart.net/fs71/i/2014/334/5/6/o_briein_s_tower__cliffs_of_moher_by_jackbracken-d889fuy.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">Sunset at the cliffs of Moher</span>
			<span class="date">Nov 27, 2014</span>
			<img src="http://th03.deviantart.net/fs70/i/2014/350/5/a/sunset_at_the_cliffs_of_moher_by_jackbracken-d889fu8.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">Sheephaven Bay, co. Donegal</span>
			<span class="date">Mar 31, 2013</span>
			<img src="http://th00.deviantart.net/fs71/i/2013/090/f/5/sheephaven_bay_by_jackbracken-d5zzybj.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">View from Errigal, co. Donegal</span>
			<span class="date">Mar 30, 2013</span>
			<img src="http://th07.deviantart.net/fs71/i/2013/090/c/a/view_from_errigal_by_jackbracken-d5zzeit.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>

		<article class="gallery-item">
			<span class="title">Road to Errigal, co. Donegal</span>
			<span class="date">Mar 30, 2013</span>
			<img src="http://th05.deviantart.net/fs71/i/2013/090/4/b/errigal_by_jackbracken-d5zzcj1.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
</div>
