---
name: photography
url: /photo
---
<div class="grid-content">
	<h1>Photography</h1>
</div>
<div class="grid-block wrap">
	<div class="large-6">
		<article class="photo-card">
			<h2>Sheep on the ring of Kerry</h2>
			<img src="http://fc04.deviantart.net/fs70/i/2014/334/b/3/sheep_on_the_ring_of_kerry_by_jackbracken-d889fw6.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
	<div class="large-6">
		<article class="photo-card">
			<h2>Ring of Kerry, B&amp;W</h2>
			<img src="http://fc09.deviantart.net/fs70/i/2014/334/9/c/ring_of_kerry_by_jackbracken-d889fvt.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
	<div class="large-6">
		<article class="photo-card">
			<h2>Sunset at the cliffs of Moher, B&amp;W</h2>
			<img src="http://fc03.deviantart.net/fs70/i/2014/334/5/5/sunset_at_the_cliffs_of_moher_by_jackbracken-d889fvb.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
	<div class="large-6">
		<article class="photo-card">
			<h2>O'Briein's Tower, cliffs of Moher</h2>
			<img src="http://th00.deviantart.net/fs71/PRE/i/2014/334/5/6/o_briein_s_tower__cliffs_of_moher_by_jackbracken-d889fuy.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
	<div class="large-6">
		<article class="photo-card">
			<h2>Sunset at the cliffs of Moher</h2>
			<img src="http://th03.deviantart.net/fs70/PRE/i/2014/350/5/a/sunset_at_the_cliffs_of_moher_by_jackbracken-d889fu8.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
	<div class="large-6">
		<article class="photo-card">
			<h2>Sheephaven Bay, co. Donegal</h2>
			<img src="http://th00.deviantart.net/fs71/PRE/i/2013/090/f/5/sheephaven_bay_by_jackbracken-d5zzybj.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
	<div class="large-6">
		<article class="photo-card">
			<h2>View from Errigal, co. Donegal</h2>
			<img src="http://th07.deviantart.net/fs71/PRE/i/2013/090/c/a/view_from_errigal_by_jackbracken-d5zzeit.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
	<div class="large-6">
		<article class="photo-card">
			<h2>Road to Errigal, co. Donegal</h2>
			<img src="http://th05.deviantart.net/fs71/PRE/i/2013/090/4/b/errigal_by_jackbracken-d5zzcj1.jpg">
			<!-- <p>Placeholder for photograph information</p> -->
		</article>
	</div>
</div>
