<article class="gallery-item">
	<span class="title"><%= photograph.title %></span>
	<%= link_to(photograph) do %>
		<span class="date"><%= photograph.date_taken %></span>
		<%= image_tag photograph.photo.url %>
	<% end %>
</article>