// Place all the styles related to the Photograph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Gallery specific */

.gallery {
  > .grid-block {
    overflow-y: hidden;
  }
}

.gallery-item {
  background: #000;
  display: block;

  .title {
    position: absolute;
    padding: 1rem;
    right: 0;
    background-color: $darker-color;
    color: $white-color;
    visibility: visible;
    z-index: 1;
    font-weight: bold;
  }

  .date {
    position: absolute;
    margin-top: 2.2rem;
    padding: 0.8rem;
    right: 0;
    background-color: $darker-color;
    color: $white-color;
    visibility: visible;
    z-index: 2;
    font-size: 0.8rem;
  }

  &:hover {
    .title, .date {
      visibility: visible;
    }
  }

  img {
    opacity: 0.9;
  }

  img:hover {
    opacity: 1;
  }
}

.gallery-single-item {
  padding-bottom: 4em;
  padding-top: 2em;
  width: 100%;
  // height: auto;
  background-color: $gray-darker;

  .title {
   
  }

  .date {
    font-size: 0.6em;
  }

  img, .title {
    color: $primary-color;
    width: 90%;
    margin-left: 5%;
  }

  img {
    cursor: pointer;
  }
  
}

.metadata {
  margin: 2rem;
}

.google-map {
    max-width: 100%;
}

.above-fold {
  margin-top: 2em;
  background-color: $gray-darker;
  margin-bottom: 4em;
}