// Place all the styles related to the Photograph controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Gallery specific */

.gallery {
  > .grid-block {
    overflow-y: hidden;
  }
}

.gallery-item {
  background: #000;
  display: block;

  .title {
    position: absolute;
    padding: 1rem;
    right: 0;
    background-color: $darker-color;
    color: $white-color;
    visibility: visible;
    z-index: 1;
    font-weight: bold;
  }

  .date {
    position: absolute;
    margin-top: 2.2rem;
    padding: 0.8rem;
    right: 0;
    background-color: $darker-color;
    color: $white-color;
    visibility: visible;
    z-index: 2;
    font-size: 0.8rem;
  }

  &:hover {
    .title, .date {
      visibility: visible;
    }
  }

  img {
    opacity: 0.9;
  }

  img:hover {
    opacity: 1;
  }
}

.gallery-single-item {
  padding-bottom: 5vh;
  padding-top: 5vh;
  width: 100%;
  background-color: $gray-darker;
  max-height: 90vh;
  position: relative;

  .date {
    font-size: 0.6em;
  }

  img, .title {
    color: $primary-color;
  }

  .arrow {
    top: 50%;
    // position: absolute;
  }

  .navigate-previous {
    left: 0;
    // width: 50%;
  }

  .navigate-next {
    right: 0;
    // width: 50%;
  }

  img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80vh;
  } 
}

iframe {
  pointer-events: none;
}

#map {
  height: 520px;
}
