/* General styles */
.primary {
  color: #F44336; }



ul {
  list-style-image: url("list-arrow.png"); }

.print-only {
  display: none; }

/* Print specific styles */
@media print {
  .print-only {
    display: initial; }

  .split .left {
    display: none; }

  h2 {
    font-size: 1.6rem; }

  ul, ol, p {
    font-size: 0.8rem;
    margin-top: 0rem;
    margin-bottom: 0rem; } }
/* Static/responsive sidebar */
/* Left side */
.split .left {
  width: 20%;
  position: relative;
  z-index: 2;
  background-color: #b32626; }
  @media (max-height: 780px) {
    .split .left {
      overflow: auto; } }
  @media (max-width: 640px) {
    .split .left {
      width: 100%;
      float: none; } }
  @media (min-width: 641px) {
    .split .left {
      width: 25%;
      position: fixed;
      height: 100%; } }
  @media (min-width: 1025px) {
    .split .left {
      width: 20%; } }
  @media (min-width: 1441px) {
    .split .left {
      width: 16%; } }

/* Right side */
.split .right {
  width: 80%;
  position: relative;
  z-index: 1; }
  @media (max-width: 640px) {
    .split .right {
      width: 100%;
      float: none;
      overflow: hidden; } }
  @media (min-width: 641px) {
    .split .right {
      width: 75%;
      float: right; } }
  @media (min-width: 1025px) {
    .split .right {
      width: 80%; } }
  @media (min-width: 1441px) {
    .split .right {
      width: 84%; } }

.grid-container {
  padding: 0 2rem; }

/* Headshot/top part of sidebar */
div.headshot {
  text-align: center;
  background-color: #000;
  padding: 2rem 0.5rem 0.5rem 0.5rem; }

.header-nav {
  color: #FFFFFF; }

.headshot img {
  border-radius: 100%;
  width: 180px;
  height: auto;
  border: 3px solid #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  display: block; }

/* Sidebar nav */
.main-nav {
  margin: 0;
  padding: 0; }
  .main-nav a {
    color: #FFFFFF; }
    .main-nav a:hover {
      background-color: #811b1b; }
  .main-nav > li {
    float: none;
    width: auto;
    background-color: #b32626;
    list-style: none; }
    .main-nav > li:nth-child(1) {
      background-color: #d74040; }
    .main-nav > li:nth-child(2) {
      background-color: #d32f2f; }
    .main-nav > li:nth-child(3) {
      background-color: #c42929; }
    .main-nav > li:nth-child(4) {
      background-color: #b32626; }
    .main-nav > li > .main-nav-item {
      display: block;
      padding: 1rem 2rem; }

/* CV specific */

.obfuscate-email { 
  unicode-bidi: bidi-override;
  direction: rtl; 
}

#personal-information {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#experience, 
#projects, 
#skills {
  .grid-block {
     margin-bottom: 0.8rem;
  }
}

.timeframe {
  font-style: italic;
  
  @include breakpoint(medium) {
    text-align: right;
  }
}

.details {
  @include breakpoint(medium) {
    border-left: 1px solid $primary-color;
  }

  ul {
    margin-bottom: 0;
    padding-left: -1rem;
    list-style-position: outside;
  }

  header > p {
    margin-bottom: 0.5rem;
  }

  ul, p {
    margin-bottom: 0rem;
  }
}