/* General styles */
.primary {
  color: #F44336; }

.strong {
  font-weight: bold; }

ul {
  list-style-image: image-url("list-arrow.png"); }

.print-only {
  display: none; }

/* Print specific styles */
@media print {
  .print-only {
    display: initial; }

  .split .left {
    display: none; }

  h2 {
    font-size: 1.6rem; }

  ul, ol, p {
    font-size: 0.6rem;
    margin-top: 0rem;
    margin-bottom: 0rem; } }


/* Static/responsive sidebar */
/* Left side */
.split .left {
  width: 20%;
  position: relative;
  z-index: 2;
  background-color: #b32626; }
  @media (max-height: 780px) {
    .split .left {
      overflow: auto; } }
  @media (max-width: 640px) {
    .split .left {
      width: 100%;
      float: none; } }
  @media (min-width: 641px) {
    .split .left {
      width: 25%;
      position: fixed;
      height: 100%; } }
  @media (min-width: 1025px) {
    .split .left {
      width: 20%; } }
  @media (min-width: 1441px) {
    .split .left {
      width: 16%; } }

/* Right side */
.split .right {
  width: 80%;
  position: relative;
  z-index: 1; }
  @media (max-width: 640px) {
    .split .right {
      width: 100%;
      float: none;
      overflow: hidden; } }
  @media (min-width: 641px) {
    .split .right {
      width: 75%;
      float: right; } }
  @media (min-width: 1025px) {
    .split .right {
      width: 80%; } }
  @media (min-width: 1441px) {
    .split .right {
      width: 84%; } }

.grid-container {
  padding: 0 2rem; }

/* Headshot/top part of sidebar */
div.headshot {
  text-align: center;
  background-color: #000;
  padding: 2rem 0.5rem 0.5rem 0.5rem; }

.header-nav {
  color: #FFFFFF; }

.headshot img {
  border-radius: 100%;
  width: 180px;
  height: auto;
  border: 3px solid #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  display: block; }

/* Sidebar nav */
.main-nav {
  margin: 0;
  padding: 0; }
  .main-nav a {
    color: #FFFFFF; }
    .main-nav a:hover {
      background-color: #811b1b; }
  .main-nav > li {
    float: none;
    width: auto;
    background-color: #b32626;
    list-style: none; }
    .main-nav > li:nth-child(1) {
      background-color: #d74040; }
    .main-nav > li:nth-child(2) {
      background-color: #d32f2f; }
    .main-nav > li:nth-child(3) {
      background-color: #c42929; }
    .main-nav > li:nth-child(4) {
      background-color: #b32626; }
    .main-nav > li > .main-nav-item {
      display: block;
      padding: 1rem 2rem; }

/* CV and contact specific */

.obfuscate-email { 
  unicode-bidi: bidi-override;
  direction: rtl; 
}

#personal-information,
#contact {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  a {
    color: black;
  }
}

#contact_body {
  height: 22rem;
}

button.send {
  position: relative;
  z-index: 20;
  border: none;
  display: inline-block;
  height: 115px;
  width: 115px;
  background-color: $primary-color;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  margin: -70px auto 55px auto;
  color: #FFF;
  outline: none;

  border-radius: 130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    -ms-border-radius: 130px;
    -o-border-radius: 130px;
  
  transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;

  &:hover {
    transform: rotate(360deg);
    background-color: lighten($primary-color, 12%);
  }
}


#experience, 
#projects, 
#skills {
  .grid-block {
    margin-bottom: 0.8rem;
  }
}

.timeframe {
  font-style: italic;
  
  @include breakpoint(medium) {
    text-align: right;
  }
}

.details {
  @include breakpoint(medium) {
    border-left: 1px solid $primary-color;
  }

  ul {
    margin-bottom: 0;
    list-style-position: outside;
  }

  header > p {
    margin-bottom: 0.5rem;
  }

  ul, p {
    margin-bottom: 0rem;
  }
}

.bottom {
  font-size: 0.75rem;
  position: fixed;
  color: #FFFFFF;
  bottom: 0;
  width: 22%;
  text-align: center;
  margin: 1em;
}