<div class="grid-container">
<section id="personal-information" class="grid-block">
	<h1 class="primary">Jack Bracken</h1>

	<p>
		<!-- Email -->
		<%= image_tag("envelope.png", size: "16x16", alt: "Email") %>
		<a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#106;&#097;&#099;&#107;&#098;&#114;&#097;&#099;&#107;&#101;&#110;&#046;&#109;&#101;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#106;&#097;&#099;&#107;&#098;&#114;&#097;&#099;&#107;&#101;&#110;&#046;&#109;&#101;</a>
	
		<!-- Phone number -->
		<%= image_tag("phone.png", size: "14x14", alt: "Phone", style: "margin-left: 14px;") %>
		  <a href="tel:00353857526944">+353 85 752 6944</a>
	</p>
	
	<p>
		<!-- Github -->
		<a href="https://github.com/JackBracken">https://github.com/JackBracken</a>
	</p>
</section>

<!--  EDUCATION  -->

<section id="education">
	<h2 class="primary">Education</h2>
	<article class="grid-block wrap">
		<section class="grid-content">
			<p><strong>University College Dublin</strong></p>
			<p>Bachelor of Science in Computer Science, graduating in September 2015.</p>
		</section>
	</article>
</section>

<!--  EXPERIENCE  -->

<section id="experience">
	<h2 class="primary">Experience</h2>
	<article class="grid-block wrap">
		<aside class="timeframe large-3 medium-3 small-12 grid-content">
			Sep 2012&ndash;May 2014
		</aside>
		
		<section class="details large-9 medium-9 small-12 grid-content">
			<header>
				<p><strong>Wooq event management, Dublin</strong> <i>Web developer</i></p>
			</header>
			<ul>
				<li>Worked as part of a two-­person development team that created an event management and ticketing app with over 15,000 unique users and 300 events.</li>
				<li>Implemented the back-end using Ruby on Rails, and used Sass Twitter Bootstrap for the front-end.</li>
			</ul>
		</section>

	</article>

	<article class="grid-block wrap">

		<aside class="timeframe large-3 medium-3 small-12 grid-content">
			May 2012&ndash;Aug 2012
		</aside>

		<section class="details large-9 medium-9 small-12 grid-content">
			<header>
				<p><strong>Aonta Technologies Ltd., Dublin</strong> <i>Intern</i></p>
			</header>
			<ul>
				<li>Took control of minor DevOps and sysadmin tasks that included writing and maintaining install and update scripts for the application environment in Bash and Perl.</li>
				<li>Developed a reporting system for orphaned SIP calls in Perl.</li>
				<li>Wrote JUnit test suite to ensure user privilege system worked correctly.</li>
			</ul>
		</section>

	</article>

	<article class="grid-block wrap">
		<aside class="timeframe large-3 medium-3 small-12 grid-content">
			Feb 2012&ndash;Mar 2013
		</aside>

		<section class="details large-9 medium-9 small-12 grid-content">
			<header>
				<p><strong>UCD CoderDojo</strong> <i>Volunteer mentor</i></p>
			</header>
			<ul>
				<li>Taught a class of over 20 children&mdash;aged seven to fourteen&mdash;the basics of web design and programming using HTML, CSS, Python and MIT Scratch.</li>
				<li>Created and refined lesson plans with other mentors.</li>
			</ul>
		</section>

	</article>
</section>

<!--  PROJECTS  -->

<section id="projects">
	<h2 class="primary">Projects</h2>

	<article class="grid-block wrap">
		<header class="skills large-3 medium-3 small-12 grid-content">
			<p><strong>jackbracken.me</strong></p>
		</header>

		<section class="details large-9 medium-9 small-12 grid-content">
			<p>Personal website. Originally built with AngularJS as a learning exercise, I then converted it into a Ruby on Rails application. Features a photo gallery with upload and editing capabilities, a markdown blog and a contact page.</p>
		</section>
	</article>

	<article class="grid-block wrap">
		<header class="skills large-3 medium-3 small-12 grid-content">
			<p><strong>Investigation into reputation algorithms</strong></p>
		</header>

		<section class="details large-9 medium-9 small-12 grid-content">
			<p>Final Year Project and Thesis on the topic of reputation algorithms for the social web. I computed PageRank and Weighted Sum reputation scores for nearly 50,000 Stack Exchange users across three sites and compared them to the ad-hoc Stack Exchange cumulative reputation score.</p>
		</section>
	</article>

	<article class="grid-block wrap">
		<header class="skills large-3 medium-3 small-12 grid-content">
			<p><strong>Asimov IRC bot</strong></p>
		</header>

		<section class="details large-9 medium-9 small-12 grid-content">
			<p>Asimov is an IRC bot written in Ruby using only standard libraries. He can parse messages that conform to the IRC protocol, has his own primitive plugin system and logs chat history to disk.</p>
		</section>
	</article>
</section>

<!--  SKILLS  -->

<section id="skills">
	<h2 class="primary">Skills</h2>
	<article class="grid-block wrap">
		<header class="skills large-3 medium-3 small-12 grid-content">
			<p><strong>Languages</strong></p>
		</header>

		<section class="details large-9 medium-9 small-12 grid-content">
			<ul>
				<li>Ruby, Java, JavaScript, HTML/CSS/SCSS, SQL, Bash</li>
			</ul>
		</section>
	</article>

	<article class="grid-block wrap end">
		<header class="skills large-3 medium-3 small-12 grid-content">
			<p><strong>Frameworks &amp; Libraries</strong></p>
		</header>

		<section class="details large-9 medium-9 small-12 grid-content">
			<ul>
				<li>Ruby&ndash; Sinatra, Ruby on Rails, ActiveRecord, Haml, Slim</li>
				<li>Java&ndash; JDBI, Flyway, JUnit</li>
				<li>JavaScript&ndash; jQuery, AngularJS, gulp</li>
			</ul>
		</section>
	</article>

	<article class="grid-block wrap">
		<header class="skills large-3 medium-3 small-12 grid-content">
			<p><strong>Tools &amp; Technologies</strong></p>
		</header>

		<section class="details large-9 medium-9 small-12 grid-content">
			<ul>
				<li>GNU coreutils (grep, sed, curl, sort, etc.)</li>
				<li>Git, Subversion</li>
				<li>Vim, Eclipse, Sublime Text</li>
				<li>PostgresSQL, SQLite</li>
			</ul>
		</section>
	</article>
</section>
</div>